@use 'variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-fondo;
}
@media (max-width: 574px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
    }
}
    
.banner{
    object-fit: cover;
}
@media (max-width: 768px){
    .banner{
        height: 120px;
        margin-bottom: 15px;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid grey;
    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid black;
    }
    ul{
        display: flex;
        gap: 30px;
        align-items: center;
        list-style: none;
    }
    li{
        font-size: 22px;
        text-transform: uppercase;
        a{
            text-decoration: none;
            color: $color-principal;
        }
    }
}
h1{
    text-align: center;
    color: $color-principal;
    font-size: 50px;
}

h2{
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    color: $color-principal;
}
h3{
    font-size: 25px;
    color: $color-principal;
}
h5{
    font-size: 25px;
    color: $color-principal;
}

.card{
    width: 100%;
    height: 350px;
    text-align: center;
    gap: 20px;
    img{
        width: 100%;
        height: 150px;
        border-radius: 10%;
        object-fit: cover;
    }
    p{
        font-size: 20px;
        color: $color-principal;
    }  
}
.container-index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    align-content: start;
}
.container-publicidades{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 5px;
    img{
        display: block;
        width: 100%;
        object-fit: cover;
    }
}
.div-button-index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px 20px;

}
.btn-agregar,
.btn-eliminar {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: all 0.25s ease;
}

.btn-agregar {
  background: linear-gradient(135deg, #28a745, #34d058);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}
.btn-eliminar {
  background: linear-gradient(135deg, #dc3545, #ff4d5a);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.95);
  }
}
.card-movil{
    background-color: $color-fondo;
}

.form-reclamos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: 20px;
    background-color: rgb(36, 1, 69);
    border: 1px solid grey;
    .campo{
            display: flex;
            align-items: center;
            gap: 10px;
            label{
                color: $color-principal;
            }
    }
}

.main-quienes-somos
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 15px;
    }
    .div-quienes-somos1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin: 10px;
        .p-quienes-somos{
            color: $color-principal;
            font-size: 18px;
            text-align: center;
        }
        .img-somos{
            height: 300px;
            width: 100%;
            object-fit: cover;
        }
        h3{
            text-align: center;
        }
    }

@media(min-width: 575px){
    .div-quienes-somos1{
        .main-quienes-somos {
        display: grid;
        grid-template-columns: 1fr;
    }
    .div-quienes-somos1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 10px;
        gap: 10px;
    }
    }
   
}