*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(124, 1, 240);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
nav img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

nav li{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
}

nav li a{
    text-decoration: none;
    color: rgb(108, 210, 7);
}